<!-- <h1>New scan</h1> -->
<%= form_for @scan do |form| %>
  <%= form.label :system %>
  <%= form.text_field :system, value: current_system %>
  <%= form.label :content, "Scan" %>
  <%= form.text_area :content, autofocus: true %>
  <%= form.submit "Save" %>
<% end %>