<!DOCTYPE html>
<html>

  <head>
    <title>R.Y.S.T.</title>
    <%= stylesheet_link_tag 'application' %>
    <!-- <%= stylesheet_link_tag 'dark' if in_game? %> -->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class='<%= params[:controller] %>' id='<%= params[:action] %>'>

    <% if alert %>
      <p><%= alert %></p>
    <% end %>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>

    <nav>

      <ul>
        <li class='<%= 'current' if current_route == 'scans#index' %>'>
          <%= link_to "All scans", scans_path %>
        </li>
        <% if in_game? %>
          <li class='<%= 'current' if current_route == 'systems#show' and current_system == params[:id] %>'>
            <%= link_to "Scans in this system", current_systems_path %>
          </li>
        <% end %>
        <li class='<%= 'current' if current_route == 'scans#new' %>'>
          <%= link_to "New scan", new_scan_path %>
        </li>
      </ul>

      <% if in_game? %>
        <ol>
          <li>
            <%= system = system_at -2; link_to system, system_path(system) %>
          </li>
          <li>
            <%= system = system_at -1; link_to system, system_path(system) %>
          </li>
          <li>
            <%= link_to current_system, system_path(current_system) %>
          </li>
          <li>
            <%= system = system_at 1; link_to system, system_path(system) %>
          </li>
          <li>
            <%= system = system_at 2; link_to system, system_path(system) %>
          </li>
        </ol>
      <% end %>

    </nav>

    <main>
      <%= yield %>
    </main>

  </body>

</html>
